.app__sidebar_wrapper {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    z-index: 1;
}

.app__sidebar {
    min-width: 50px;
    height: 280px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(173, 173, 173) , rgb(231, 231, 231));
    border-right: 3px solid rgba(12, 12, 12, 0.938);
    border-top: 3px solid rgba(12, 12, 12, 0.938);
    border-bottom: 3px solid rgba(12, 12, 12, 0.938);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 6px 6px 20px rgb(36, 36, 36);
}

.app__sider_buttons  {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    cursor: pointer;
}

.app__add_button, .app__minus_button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 3px solid black;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(36, 36, 36);
}
.app__add_button:active, .app__minus_button:active {
    transform: scale(1.0);
    box-shadow: none;
}

.app__add_button:hover, .app__minus_button:hover  {
    transition: all 0.15s ease-in-out;  
}

.app__color_picker-wrapper {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: 0.15s;
}

.app__color_picker {
    width: 30px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(126, 126, 126, 0.925);
    flex-direction: column;
    border-right: 2px solid rgba(12, 12, 12, 0.938);
    border-top: 2px solid rgba(12, 12, 12, 0.938);
    border-bottom: 2px solid rgba(12, 12, 12, 0.938);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.colors {
    margin: 0.5rem 0.25rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.colors:hover {
    transform: scale(1.3);
    transform-origin:bottom
}

@media screen and (max-width:650px) {

    .app__sidebar_wrapper {
        position: absolute;
        width: 60px;
        height: 120px;
        top: 0px;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        z-index: 11;
        }

    .app__sidebar {
        width: 0px;
        height: 0px;
        background: none;
        border: none;
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .app__color_picker-wrapper {
        width: 60px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -220px;
        left: 0;
    }

    .app__add_button, .app__minus_button {
        width: 50px;
        height: 50px;
        border: none;
        box-shadow: none;
    }

    .app__add_button:hover, .app__minus_button:hover  {
        transform: scale(1.1);
        transition: all 0.15s ease-in-out;
        box-shadow: none;
    }

    .app__color_picker {
        background: none;
        border: none;
        height: 280px;
    }

    .colors {
        margin: 0.5rem 0.5rem;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 100%;
    }
}

@media screen and (max-width: 350px) {
    .app__sidebar_wrapper {
        position: absolute;
        width: 40px;
        height: 60px;
        top: 20px;
        left: 0px;
        
        }
}